In [15]:
import sqlite3
from sqlite3 import Error


def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
    except Error as e:
        print(e)

    return conn

In [16]:
database = r"/Users/tomasfencl/Desktop/final/maindb.db"

In [17]:
#get row values WITH rowid
conn = create_connection(database)
c = conn.cursor()

c.execute("SELECT rowid, * FROM indatatable")
display = c.fetchall()
print(display)

conn.commit()

conn.close()

[(1, 'tomas', 'mrtomfen@gmail.com', '2022-01-19', '2022-01-21', 34170601), (2, 'tomas', 'mrtomfen@gmail.com', '2022-01-19', '2022-01-21', 34170601), (3, 'tomas', 'mrtomfen@gmail.com', '2022-01-19', '2022-01-21', 34170601), (4, 'tomas', 'mrtomfen@gmail.com', '2022-01-19', '2022-01-21', 34170601), (5, 'tomas', 'mrtomfen@gmail.com', '2022-01-19', '2022-01-21', 34170601)]

In [11]:
#get row values WITH rowid
conn = create_connection(database)
c = conn.cursor()

c.execute("SELECT rowid, * FROM outdatatable")
display = c.fetchall()
print(display)

conn.commit()

conn.close()

[(1, 1, '2022-01-17', 96, 'date not possible for checkin'), (2, 2, '2022-01-17', 156, 'some days are not available'), (3, 3, '2022-01-17', 100, 'some days are not available'), (4, 4, '2022-01-17', 74, 'some days are not available'), (5, 5, '2022-01-17', 124, 'some days are not available'), (6, 1, '2022-01-17', 96, 'date not possible for checkin'), (7, 2, '2022-01-17', 156, 'some days are not available'), (8, 3, '2022-01-17', 100, 'some days are not available'), (9, 4, '2022-01-17', 74, 'some days are not available'), (10, 5, '2022-01-17', 124, 'some days are not available')]